@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');



#contenedor{
    background-image: url(../../../assets/images/fondoReceta.jpg);
    width: 100%;
    background-size:cover;
    margin: auto;
    background-attachment: fixed;
    }

h3{ 
    text-align: center;
    font: 3rem 'Castoro', sans-serif;
    color:  #fefeff;
}

#titulos{
    font: 1.2rem; 
    color: white ;
    font-style: italic;
}
