
<body>

        <div class="login-page">
            <div class="form">
                <a class="closeX" id="closeX" href="/home">&#10006;</a>
                <br>
                <h3>Bienvenido a Goodiet </h3>
                <img  src="../../../assets/images/logo2.png" width="100px" height="100px">
                
                <form #registroForm='ngForm' (ngSubmit)=onSubmit(registroForm) style="padding-top: 30px;">
                   
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control" placeholder="email address" name="email" #email [(ngModel)]="registroModel.email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control" placeholder="contraseña" name="password" #password [(ngModel)]="registroModel.password" required>
                            <label *ngIf="!this.ok">{{msg}}</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control" placeholder="Repetir contraseña" name="password2" #password2 [(ngModel)]="registroModel.password2" required>
                            <label *ngIf="!this.ok">{{msg2}}</label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        <!--  
                        <input style="opacity:1;padding: 10px;" type="checkbox" name="acept" #acept [(ngModel)]="registroModel.acept" required>-->

                        <p style="color:black;padding-bottom: 20px;">Si continúas, aceptas los <a style="color:blue;" href="/terminos">Términos y Condiciones</a> de Goodiet</p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!registroForm.form.valid">Enviar</button>
                    </div>
                    <br>
                    <div>
                        <a routerLink="/login" class="form-control login-user">¿Ya eres miembro?</a>    
                    </div>
                </form> 
            </div>
        </div>

        <footer class="container-fluid mt-5 pt-5">
            <div class="row">
                <div class="col text-white text-center">
                    <p>Goodiet. @Todos los derechos reservados</p>
                </div>
            </div>
        </footer>
    
</body>

