<div id="contenedor">

    <header>
        <h3>¡¡Registrate y empieza a disfrutar!!</h3>
    </header>


<div class="container">
    <div class="row">
        
        <!-- definimos una accion y aqui guardamos los datos que nos envia cuando pulsamos el boton envair -->
        <form #registroForm='ngForm' (ngSubmit)=onSubmit(registroForm)>
            <br><br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id= "titulos" for="nombre">Nombre*</label>
                    <input type="text" class="form-control" name='username' #username [(ngModel)]="registroModel.username" required>
                </div>
                <div class="form-group col-md-6">
                    <label id= "titulos" for="apellido">Apellidos*</label>
                    <input type="apellidos" class="form-control" name="surname" #surname [(ngModel)]="registroModel.surname" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id= "titulos" for="telefono">Teléfono*</label>
                    <input type="text" class="form-control" name="phone" #phone [(ngModel)]="registroModel.phone" required>
                </div>
                <div class="form-group col-md-6">
                    <label id= "titulos" for="email">Email*</label>
                    <input type="email" class="form-control" name="email" #email [(ngModel)]="registroModel.email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id= "titulos" for="password">Contraseña*</label>
                    <input type="password" class="form-control" name="password" #password [(ngModel)]="registroModel.password" placeholder="La contraseña debe tener mínimo 6 carateres"required>
                    <label *ngIf="!this.ok">{{msg}}</label>
                </div>
                <div class="form-group col-md-6">
                    <label id= "titulos" for="password">Repetir contraseña*</label>
                    <input type="password" class="form-control" name="password2" #password2 [(ngModel)]="registroModel.password2" placeholder="Las contraseñas deben coincidir"required>
                    <label *ngIf="!this.ok">{{msg2}}</label>
                </div>
            </div>
            <div class="form-group">
                <label id= "titulos" for="direccion">Dirección</label>
                <input type="text" class="form-control" name="direction" #direction [(ngModel)]="registroModel.direction" placeholder="Calle, Avenida... ">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label id= "titulos" for="localidad">Localidad</label>
                    <input type="text" class="form-control" name="location" #location [(ngModel)]="registroModel.location">
                </div>
            <div class="form-group col-md-6">
                <label id= "titulos" for="provincia">Provincia</label>
                <select name="province" class="form-control" #province [(ngModel)]="registroModel.province">
                <option value="">- selecciona -</option>
                <option value="15">A coru&#241;a</option>
                <option value="1">&#193;lava</option>
                <option value="2">Albacete</option>
                <option value="3">Alicante</option>
                <option value="4">Almer&#237;a</option>
                <option value="33">Asturias</option>
                <option value="5">&#193;vila</option>
                <option value="6">Badajoz</option>
                <option value="7">Baleares</option>
                <option value="8">Barcelona</option>
                <option value="9">Burgos</option>
                <option value="10">C&#225;ceres</option>
                <option value="11">C&#225;diz</option>
                <option value="39">Cantabria</option>
                <option value="12">Castell&#243;n</option>
                <option value="51">Ceuta</option>
                <option value="13">Ciudad Real</option>
                <option value="14">C&#243;rdoba</option>
                <option value="16">Cuenca</option>
                <option value="99">Extranjero</option>
                <option value="17">Girona</option>
                <option value="18">Granada</option>
                <option value="19">Guadalajara</option>
                <option value="20">Guip&#250;zcoa</option>
                <option value="21">Huelva</option>
                <option value="22">Huesca</option>
                <option value="23">Ja&#233;n</option>
                <option value="26">La rioja</option>
                <option value="35">Las palmas</option>
                <option value="24">Le&#243;n</option>
                <option value="25">Lleida</option>
                <option value="27">Lugo</option>
                <option value="28">Madrid</option>
                <option value="29">M&#225;laga</option>
                <option value="52">Melilla</option>
                <option value="30">Murcia</option>
                <option value="31">Navarra</option>
                <option value="32">Ourense</option>
                <option value="34">Palencia</option>
                <option value="36">Pontevedra</option>
                <option value="37">Salamanca</option>
                <option value="38">Santa cruz de tenerife</option>
                <option value="40">Segovia</option>
                <option value="41">Sevilla</option>
                <option value="42">Soria</option>
                <option value="43">Tarragona</option>
                <option value="44">Teruel</option>
                <option value="45">Toledo</option>
                <option value="46">Valencia</option>
                <option value="47">Valladolid</option>
                <option value="48">Vizcaya</option>
                <option value="49">Zamora</option>
                <option value="50">Zaragoza</option>        
                
                </select>
            </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="acept" #acept [(ngModel)]="registroModel.acept" required>
                    <label class="form-check-label" for="gridCheck">
                    He leído y acepto las condiciones*
                </label>
            </div>
            </div>
            <!-- para desabilitar el boton si el form es erroneo [disabled]="!registerForm.form.valid" -->
            <!-- el evento click dispara una función de nuestro componente y se va a mostrar en la vista -->
            
            <button type="submit" class="btn btn-primary" [disabled]="!registroForm.form.valid">Enviar</button>
           
            <br><br>
            <div>
                <a class="button" class="btn btn-primary" routerLink='/login'>Volver</a>
            </div>
        </form>
    </div>
</div>
