

<body class="row justify-content-center">
    
    <div>
        
        <form class="row justify-content-center">
            <h1>Titulo de la receta</h1>
            <img src="../../../assets/images/logoGoodiet.png" alt="">
        </form>
        <div class="row">
            <p class="col-1"></p>
            <H3 class="col-3">Ingredientes</H3>
            <p class="col-1"></p>
            <H3 class="col-6">¿Cómo se hace?</H3>
            <p class="col-1"></p>


            <p class="col-1"></p>
            <p class="col-3">Lorem ipsum dolor sit amet consectetur adipiscing elit pretium dui montes nisi, pharetra inceptos aptent quam non potenti molestie condimentum vehicula turpis. 
            Maecenas tempus ornare etiam integer bibendum dui vel sagittis senectus, mattis egestas hendrerit metus cubilia fringilla dapibus non, curae ad ridiculus vitae erat odio in arcu. 
            Ligula neque ante gravida interdum quis, lectus ad cum rutrum sapien consequat, fermentum fusce porta sagittis.
            </p>
            <p class="col-1"></p>

            
            <p class="col-6">Lorem ipsum dolor sit amet consectetur adipiscing elit pretium dui montes nisi, pharetra inceptos aptent quam non potenti molestie condimentum vehicula turpis. 
                Maecenas tempus ornare etiam integer bibendum dui vel sagittis senectus, mattis egestas hendrerit metus cubilia fringilla dapibus non, curae ad ridiculus vitae erat odio in arcu. 
                Ligula neque ante gravida interdum quis, lectus ad cum rutrum sapien consequat, fermentum fusce porta sagittis.
        
                Enim interdum porttitor mollis facilisis feugiat sodales auctor, bibendum metus conubia urna class viverra, faucibus litora massa ultrices inceptos sed. Ridiculus mauris lacus hac 
                orci nec dis nascetur porttitor, mollis porta molestie ante tempor sem nulla. Scelerisque ultrices mauris conubia non lacinia iaculis tincidunt vivamus lectus, quisque augue hac 
                ac nibh integer proin tristique, cum sagittis volutpat platea per porta laoreet sociis.</p>
        </div> 
    </div>
    <br>
</body>

