<div class="row justify-content-center">

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <br><br>
          <h1>¡Bienvenid@ a Goodiet!</h1>
          <img src="../../../assets/images/logoGoodiet.png" alt="">
          <br><br>
            <div class="mb-3">
              <label class="form-label">Usuario</label>
              <input type="text" class="form-control" name="username" #username [(ngModel)]="loginModel.username">
              
            </div>
            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" name="password" #password [(ngModel)]="loginModel.password">
            </div>
              <a><button type="submit" class="btn btn-success">Enviar</button></a>
            <br><br>
            <div>
              <a class="button" class="btn btn-success" routerLink='/register'>Registrar</a>
            </div>
          </form>
</div>

