
<div id="contenedor">

  <div class="topnav">
    <a routerLink="/login">Login</a>
    <a routerLink="/registro">Registro</a>
    <!-- Este botón se eliminará  -->
    <a href="/recetas">Recetas</a>
    <div class="search-container">
      <input type="search" placeholder="Search.." name="search">
      <input class="search-container" type="submit" value="Buscar">
    </div>
    <img class="centrado" src="../../../assets/images/logo2.png">

  </div>
  
    
    <div class="container" style="background: rgb(255, 255, 255); margin-left: 10%; margin-bottom: 10%;">
      <div class="row">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Título</th> 
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let receta of this.recetas">
                  <th scope="row">{{receta.name}}</th>
                  <td>{{receta.descripcion}}</td>
                  
                  <!-- cambiar la función del click (Félix) 
                  <td><button  class="btn btn-info" (click)='this.goToDetalle(receta.id)'>Ver</button></td> -->
              </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>
