<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>

    <div class="topnav">
      <a class="active" href="#Inicio">Inicio</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/registro">Registro</a>
      <!-- Este botón se eliminará  -->
      <a routerLink="/recetas">Recetas</a>
      <div class="search-container">
        <input type="search" placeholder="Search.." name="search">
        <input class="search-container" type="submit" value="Buscar">
      </div>
      <img class="centrado" src="../../../assets/images/logo2.png">

    </div>

    <div class="contenedor">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receta of this.recetas">
                    <th scope="row">{{ receta.id }}</th>
                    <td>{{ receta.titulo }}</td>
                    <td>{{ receta.descripcion }}</td>
                    <!-- cambiar la función del click (Félix)
                    <td><button  class="btn btn-info" (click)='this.goToDetalle(receta.id)'>Ver</button></td> -->
                </tr>
            </tbody>
          </table>
    </div>

</body>
</html>
