

    <main role="main">
       <section class="text-center">
        <img src="../../../assets/images/logo2.png" width="300" height="300" class="my-4">
        <div class="container">
          <h1 class="jumbotron-heading">Bienvenidos a Goodiet</h1>
          <p class="lead text-muted">Porque comer Sano e Inteligentemente no está reñido con disfrutar de Sabores extraordinarios ni Momentos inolvidables.</p>
          <p>
            <a routerLink="/login" class="btn mr-2">Login</a>
            <a routerLink="/registro" class="btn ml-2">Regístrate</a>
          </p>
        </div>
      </section>
    </main>


  <div class="container marketing py-5">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-center">EN NUESTRAS RECETAS HAY MUCHO CORAZÓN.</h2><br>
        <p class="lead text-center">Todas nuestras recetas tienen en cuenta dos factores muy
          importantes: nuestra Salud y Tú. Ambas con mayúsculas.</p>
      </div>
      <div class="col-md-5">
      <a routerLink="/registro"> <img class="featurette-image img-fluid mx-auto" src="../../../assets/images/sushi.jpg" width="460" height="200"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-center">¿QUÉ VAS A ENCONTRAR?</h2>
        <h3 class="text-muted text-center">Míralo por ti mismo.</h3>
        <p class="lead text-center">Un gran número de recetas sencillas y rápidas, adapatadas a todos los públicos; recetas para combatir el ritmo frénetico de la ciudad, para disfrutar en compañia o solo, 
          para aprender, compartir y en la que podrás crear tu propia comunidad o unirte a una. ¡Regístrate y empieza a disfrutar!
        </p>
      </div>
      <div class="col-md-5 order-md-1">
      <a routerLink="/registro"><img class="featurette-image img-fluid mx-auto" src="../../../assets/images/vegetariana.jpg" width="460" height="200"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-center">ENTONCES, ¿QUIERES DESCUBIR OTRO TIPO DE ALIMENTACIÓN?</h2>
        <h3 class="text-muted text-center">¿Otra forma de nutrirte?</h3><br>
        <p class="lead text-center">Porque comer Sano e Inteligentemente no está reñido con disfrutar de Sabores extraordinarios ni Momentos inolvidables.</p>
      </div>
      <div class="col-md-5">
      <a routerLink="/registro"><img class="featurette-image img-fluid mx-auto" src="../../../assets/images/hambur.jpg" width="460" height="200"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <div id="footer">
    <p>&copy; All rights reserved. Created by Goodieteam </p>
  </div>

