



#contenedor{
  width: 100%;
  background-size:cover;
  margin: auto;
  background-attachment: fixed;
}



#footer {
  height: 140px;
  margin: 0 auto;
  padding: 50px 0 15px 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #66d663;
 
}

#footer p {
  margin: 0;
  padding-top: 10px;
  letter-spacing: 1px;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}


input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
.imagenreceta {
  width: 175px;
  height: 175px; 
  margin-right: 15px;
  margin-left: 20px;
}