
<div id="contenedor">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #66d663 !important;">
    <a class="navbar-brand" routerLink="/usuario">Perfil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
<br>

<!--  
 
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/polloteriyaki.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Pollo Teriyaki</a> </h3>
          <p class="card-text mb-auto">El pollo teriyaki es uno de los platos japoneses con más adeptos en el mundo. A diferencia de otros, como por ejemplo el sushi, es relativamente sencillo de hacer. A continuación te guiaremos paso a paso en su preparación.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/lasagnaberenjena.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Lasaña de berenjena</a> </h3>
          <p class="card-text mb-auto">La lasaña de berenjena es uno de los platos ideales si quieres comer algo delicioso sin muchas calorías. Es la alternativa más práctica a la pasta, utilizada en las lasañas tradicionales. Quédate con nosotros y descubre los pasos para preparar esta delicia.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/ensaladapasta.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Ensalada de pasta</a> </h3>
          <p class="card-text mb-auto">Esta receta de cocina fácil y rápida contiene los tres grupos básicos de alimentos que necesitamos para mantenernos saludables y activos en todo momento, además su aderezo ácido, pero cremoso le da un toque de sabor que es de otro mundo, échale un vistazo y a por ello.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/polvorosas.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Polvorosas</a> </h3>
          <p class="card-text mb-auto">Las polvorosas es un dulce de origen venezolano. Son galletas que contienen una preparación sencilla que se disuelven en la boca al momento de comerlas. Este dulce existe desde los tiempo coloniales, muchas personas tenían distintas formas de prepararlas agregándoles ya sea chocolate, vainilla, esencia de coco o almendras. Excelentes acompañantes para una tarde junto con un café. Los tamaños de estas galletas pueden varias depende del gusto de la persona.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/rollitospollo.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Rollitos de pollo</a> </h3>
          <p class="card-text mb-auto">Fácil y divertido. Con un poco de imaginación siempre se podrá disfrutar de platos deliciosos sin pasar horas cocinando. Plato perfecto para llevar a clases, bastante ligero y rápido de preparar.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/californiaroll.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">California roll</a> </h3>
          <p class="card-text mb-auto">Un rollo de California es una versión fresca de los rollos de arroz japoneses tradicionales. Lleno de aguacate, cangrejo y pepino, es fresco y crujiente y sirve una comida abundante. Puedes usar cangrejos reales o de imitación.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/gazpacho.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Gazpacho</a> </h3>
          <p class="card-text mb-auto">Una receta ligera y fresca, de un gazpacho suave y pasado por el chino para que no contenga ni un grumo.</p>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img class="imagenreceta mx-auto d-block" src="../../../assets/images/tabule.png"><br>
          <h3 class="mb-0"><a routerLink="/detalle" class="text-dark">Tabulé</a> </h3>
          <p class="card-text mb-auto">Seguro que habéis leído en las cartas de los restaurantes este plato, escrito de distintas maneras: tabulé, tabuleh, tabbouleh… Se trata de una ensalada muy refrescante y especialmente popular en los países de Oriente Medio. </p><br>
          <a routerLink="/detalle" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>
        </div>
      </div>
    </div>
  </div>
</div>-->

 
<div class="col-12">
  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let receta of this.recetas">
      <div class="card d-flex flex-column align-items-start">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">
            <span class="badge badge-pill badge-dark">{{ receta.id }}</span>
          </strong>
          <h3 class="mb-0"><a href="/detalle/{{receta.id}}" class="text-dark"> {{receta.name}}</a> </h3>
          <p class="card-text mb-auto">{{receta.description}}</p>
          <a href="/detalle/{{receta.id}}" class="btn-btn-info">LEER MÁS</a>
        </div>
        <div class="clasificacion col-12" style="text-align: right;">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1" style="cursor: pointer;">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2" style="cursor: pointer;">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3" style="cursor: pointer;">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4" style="cursor: pointer;">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5" style="cursor: pointer;">★</label>

        </div>
      </div>
    </div>
  </div>
</div>


<div id="footer">
  <p>&copy; All rights reserved. Created by Goodieteam </p>
</div>

</div>




     
